extends layout

block content
  .container-fluid
    .row.cc-navbar
      .col-xs-8
        a(href='#')
          h1.cc-logo Chubbo-Chat
      .col-xs-4
        p.cc-logoutBtn logout
  .container-fluid
    .row
      .col-xs-12
        #app {{message}}