extends layout

block content
  div.row
    div.col-md-4
      h1= title
      p Welcome to chubbo-chat
      p Our friendly little bot will help you!
      input(type='text' id='messageInput')
      button(type='submit' id='submit') Submit
    div.col-md-4.chat
      h3 Incoming messages:
      p.incoming
    div.col-md-4.chat
      h3 Outgoing messages:
      p.outgoing

