extends layout

block content
  div.container-fluid
    div.row.cc-navbar
      div.col-xs-8
        a(href='#')
          h1.cc-logo Chubbo-Chat
      div.col-xs-4
        p.cc-login login
  canvas#ccdotsBackground
  div.container-fluid
    div.row
      div.col-md-12
        h2.cc-tagline Create free surveys that feel like chats
    div.row
      div.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
        div.cc-orbisAndBtn
          img(src='/images/orbis.png').orbis
          div.cc-btnStart Create a survey!
