extends layout

block content
  div.container-fluid
    div.row.ccnavbar
      div.col-md-12
        a(href='#')
          h1.cclogo Chubbo-Chat
        p.cclogin login
  div.container-fluid
    div.row
      div.col-md-12
        h2.cctagline Create free surveys that feel like chats
    div.row.ccdotsBackground
      div.col-md-4.col-md-offset-4
        img(src='/images/orbis.png').orbis
        a(href='#')
          div.ccbtnStart Create a survey!
