extends layout

block content
  h1= title
  p Welcome to #{title}
  p Our friendly little bot will help you!
  form(action='/' method='post')
    input(type='text' id='msgText' name='msg')
    button(type='submit') Submit
  h3 Incoming messages:
  p #{incoming}
  h3 Outgoing messages:
  p #{outgoing}
