doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300,400')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/landing.css')
  body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/submit.js')
    block content
