doctype html
html

  head

    title Chubbo-Chat
    meta(meta name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300,400')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/sweetalert2/4.0.15/sweetalert2.min.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/leftPanel.css')
    link(rel='stylesheet', href='/stylesheets/surveyForm.css')

  body

    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase.js')
    script.
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBAsiVLXUpWhLHdqFu1Ngvnyo8QrCqRDJI",
        authDomain: "chubbo-chat.firebaseapp.com",
        databaseURL: "https://chubbo-chat.firebaseio.com",
        storageBucket: "chubbo-chat.appspot.com",
      };
      firebase.initializeApp(config);

    block content
    
    script(src='/public/libs/vue-spinner.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://npmcdn.com/vue/dist/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vuex/0.8.2/vuex.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.10/vue-router.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.js')
    script(src='https://cdn.jsdelivr.net/sweetalert2/4.0.15/sweetalert2.min.js')
    script(src='/javascripts/globalApp.js')
    script(src='/javascripts/services/login.js')
    script(src='/javascripts/services/floatingDots.js')
    script(src='/javascripts/services/surveyApi.js')
    script(src='/javascripts/store.js')
    script(src='/javascripts/components/nav.js')
    script(src='/javascripts/components/landing.js')
    script(src='/javascripts/components/dashboard/leftPanel.js')
    script(src='/javascripts/components/dashboard/titleInput.js')
    script(src='/javascripts/components/dashboard/questionInput.js')
    script(src='/javascripts/components/dashboard/surveyForm.js')
    script(src='/javascripts/components/dashboard/dashboard.js')
    script(src='/javascripts/main.js')

