doctype html
html

  head

    title Chubbo-Chat
    meta(meta name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300,400')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/leftPanel.css')

  body

    script(src='https://www.gstatic.com/firebasejs/3.1.0/firebase.js')
    script.
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBAsiVLXUpWhLHdqFu1Ngvnyo8QrCqRDJI",
        authDomain: "chubbo-chat.firebaseapp.com",
        databaseURL: "https://chubbo-chat.firebaseio.com",
        storageBucket: "chubbo-chat.appspot.com",
      };
      firebase.initializeApp(config);

    block content
      
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://npmcdn.com/vue/dist/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.10/vue-router.min.js')
    script(src='/javascripts/login.js')
    script(src='/javascripts/floatingDots.js')
    script(src='/javascripts/components/nav.js')
    script(src='/javascripts/components/landing.js')
    script(src='/javascripts/components/leftPanel.js')
    script(src='/javascripts/components/dashboard.js')
    script(src='/javascripts/main.js')

