//- wouldnt it be nice to have nav code only here instead of in the layout? :/

//- extends layout

//- block nav
//-   .container-fluid
//-     .row.cc-navbar
//-       .col-xs-8
//-         a(href='#')
//-           h1.cc-logo {{ logo }}
//-       .col-xs-4
//-         p.cc-loginBtn {{ loginBtn }}
//-         p.cc-logoutBtn {{ logoutBtn }}