body {
  font-family: 'Quicksand', sans-serif;
  color: #3c5a71;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

.cc-navbar {
  border-bottom: 2px solid #F0F0F0;
}

.cc-menuIcon {
  height: 30px;
  width: auto;
  margin: 22px 5px;
  float: right;
  display: none;
}

.cc-menuIcon:hover {
  cursor: pointer;
}

.cc-logo {
  font-family: 'Pacifico', cursive;
  display: inline-block;
  margin: 20px 5px;
  font-size: 3.3rem;
}

.cc-logo:hover {
  cursor: pointer;
}

.cc-loginBtn, .cc-logoutBtn {
  float: right;
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
}
.cc-loginBtn:hover, .cc-logoutBtn:hover {
  cursor: pointer;
  font-weight: bold;
}

#cc-loginBtns-show {
  display: block;
}

#cc-loginBtns-hide {
  display: none;
}

@media (max-width: 800px) {
  .cc-logo {
    font-size: 2.5rem;
  }
  .cc-loginBtn, .cc-logoutBtn {
    font-size: 1.8rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  #cc-menuIcon-mobile {
    display: block;
  }
  #cc-loginBtns-hide-mobile {
    display: none;
  }
}

