.cc-dashboardPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}

@media (max-width: 992px) {
  .cc-greyedSurveyForm {
    opacity: 0.5;
    background-color: #737373;
    position: absolute;
    left: 0;
    width: 100%;
    /*on top of survey form*/
    z-index: 1;
  }
}
