.cc-leftPanel {
  height: 85vh;
  border-right: 1px solid #F0F0F0;
}

.cc-userIcon {
  width: 120px;
  height: 120px;
  border: 1px solid grey;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
}

.cc-userEmail {
  color: grey;
  text-align: center;
  margin: 10px;
}