canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.ccbtnStart {
  color: #fff;
  background-color: #ff9fcb;
  line-height: 60px;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}
.ccbtnStart:hover {
  background-color: #EC99BF;
}

.cctagline {
  font-weight: 400;
  text-align: center;
}

.orbis {
  width: 350px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 350px) {
  .orbis {
    width: 300px;
  }
}
