canvas#cc-dotsBackground {
  position: absolute;
}

.cc-btnStart {
  color: #fff;
  background-color: #ff9fcb;
  line-height: 60px;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}
.cc-btnStart:hover {
  background-color: #EC99BF;
  cursor: pointer;
}

.cc-tagline {
  font-weight: 400;
  text-align: center;
}

.orbis {
  width: 350px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 350px) {
  .orbis {
    width: 300px;
  }
}

.cc-modalOverlay {
  display: none;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  /* filter for IE */
  filter: alpha(opacity=25);
  z-index: 1
}

.cc-loginModal {
  display: none;
  position: fixed;
  left: 33.33%;
  border-radius: 12px;
  box-shadow: 2px 2px 2px #B0B0B0;
  height: 350px;
  width: 500px;
  background-color: #fff;
  z-index: 2;
}

.cc-googleLogo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
