canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cccontent {
  position: absolute;
  z-index: 1;
}

@media (min-width: 770px) {
  .ccorbisAndBtn {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.ccbtnStart {
  color: #fff;
  background-color: #ff9fcb;
  line-height: 60px;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}
.ccbtnStart:hover {
  background-color: #EC99BF;
}

.cctagline {
  font-weight: 400;
  text-align: center;
}

.orbis {
  width: 65%;
  height: auto;
  max-width: 535px;
  max-height: 510px;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 400px) {
  .cctagline {
    font-size: 120%;
  }
  .orbis {
    width: 95%;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .orbis {
    width: 50%;
  }
  .cctagline {
    font-size: 150%;
  }
}

@media (min-width: 767px) and (max-width: 769px) {
  .orbis {
    width: 80%;
  }
}
