.cc-leftPanel-mobile-hide, .cc-leftPanel-mobile-show {
  display: block;
  border-right: 1px solid #F0F0F0;
  width: 25%;
  height: 100%;
  padding-top: 30px;
}

.cc-userIcon-leftPanel {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0px auto 30px auto;
}

.cc-userEmail-leftPanel {
  color: #545454;
  text-align: center;
  margin: 10px;
}

.cc-logout-leftPanel {
  text-align: center;
  display: none;
}

.cc-logout-leftPanel:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .cc-logout-leftPanel {
    display: block;
  }
  .cc-leftPanel-mobile-hide {
    transition: all .3s ease;
    position: absolute;
    left: calc(-100% - 15px);
    z-index: 2;
  }
  .cc-leftPanel-mobile-show {
    transition: all .3s ease;
    position: absolute;
    width: 83%;
    left: 0px;
    /*on top of greyed out survey form (z-index=1) */
    z-index: 2;
    background-color: #fff;
  }
}
