.cc-responsesPage {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cc-responsesPage-content {
  margin: 20px;
}

.cc-responsesPage-question {
  font-size: 18px;
}

.cc-responsesPage-question:hover {
  cursor: pointer;
}
