.cc-surveyFormPage {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cc-surveyFormInputs {
  width: 60%;
}

.cc-submitBtnContainer {
  width: 20%;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.cc-titleInput {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  margin: 20px 10px;
  font-size: 2.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0px !important;
}

.cc-titleInput::-webkit-input-placeholder {
  color: #3c5a71;
  opacity: 1;
}
.cc-titleInput::-moz-placeholder {
  color: #3c5a71;
  opacity: 1;
}
.cc-titleInput:-ms-input-placeholder {
  color: #3c5a71;
  opacity: 1;
}
.cc-titleInput:-moz-placeholder {
  color: #3c5a71;
  opacity: 1;
}

.cc-inputRow {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.cc-questionNumber {
  font-size: 2.5rem;
  margin: auto 5px;
  color: #8E8E8E;
  font-weight: bold;
}

.cc-questionInput {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #A4A4A4;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 3px 7px;
  font-size: 2.2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0px !important;
}

.cc-submitSurveyFormBtn {
  border-radius: 20px;
  color: #fff;
  background-color: #9DE934;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 6px 15px;
  margin: 5px auto 22px auto;
}

.cc-submitSurveyFormBtn:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .cc-surveyFormInputs {
    width: 90%;
  }
  .cc-submitBtnContainer {
    width: 100%;
  }
  .cc-submitSurveyFormBtn {
    margin: 5px auto;
    padding: 6px 35px;
    border-radius: 26px;
  }
}
