.cc-surveyFormPage {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cc-surveyFormInputs {
  width: 60%;
  counter-reset: up-by-one;
}

.cc-submitBtnContainer {
  width: 20%;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.cc-titleInput {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  border-radius: 0px;
  margin: 20px 10px;
  font-size: 2.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0px !important;
}

.cc-questionInputRow, .cc-titleInputRow {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

input.cc-questionInput:focus, input.cc-titleInput:focus {
  outline: none;
  border-color: #3c5a71;
}

.cc-titleInput-error, input.cc-titleInput-error:focus {
  border: 1px solid rgb(234, 32, 28);
  border-radius: 20px;
  padding-left: 8px;
}

.cc-questionInputRow {
  counter-increment: up-by-one;
}

.cc-questionInput {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #A4A4A4;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 3px 7px;
  font-size: 2.2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0px !important;
}

.cc-questionInputRow:before {
  content: counter(up-by-one) ".";
  font-size: 2.5rem;
  margin: auto 5px;
  color: #8E8E8E;
  font-weight: bold;
}

.cc-submitSurveyFormBtn, .cc-addQuestionInputBtn {
  border-radius: 20px;
  color: #fff;
  background-color: #9DE934;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 6px 15px;
  margin: 5px auto 22px auto;
}

.cc-addQuestionInputBtn {
  display: none;
  margin: 35px 7% 5px 16%;
}

.cc-submitSurveyFormBtn:hover, .cc-addQuestionInputBtn {
  cursor: pointer;
}

.cc-deleteQuestionIcon, .cc-deleteQuestionIcon-hide {
  visibility: hidden;
  font-size: 2.5rem;
  margin: auto 0px;
  padding-bottom: 5px;
  color: #8E8E8E;
}

.cc-questionInputRow:hover .cc-deleteQuestionIcon {
  visibility: visible;
}

.cc-deleteQuestionIcon:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .cc-surveyFormPage {
    display: block;
  }
  .cc-surveyFormInputs {
    width: 90%;
    margin: auto;
  }
  .cc-submitBtnContainer {
    width: 100%;
  }
  .cc-submitSurveyFormBtn {
    margin: 5px auto;
    padding: 6px 35px;
    border-radius: 26px;
  }
  .cc-deleteQuestionIcon {
    visibility: visible;
  }
  .cc-addQuestionInputBtn {
    display: inline-block;
  }
  .sweet-alert.cc-sweetAlert-size-mobile {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
