body {
  font-family: 'Quicksand', sans-serif;
  color: #3c5a71;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  color: inherit;
}
a:link, a:visited {
  text-decoration: none;
  outline: none;
  border-style: none;
}

.cc-navbar {
  border-bottom: 2px solid #F0F0F0;
}

.cc-logo {
  font-family: 'Pacifico', cursive;
  display: inline-block;
  margin: 20px 5px;
  font-size: 3.3rem;
}

.cc-logo:hover {
  cursor: pointer;
}

.cc-loadingIcon {
  margin: auto;
  display: block;
}

.cc-menuIcon-mobile {
  display: none;
  height: 30px;
  width: auto;
  margin: 20px 3px;
  padding: 2px;
  float: right;
}

.cc-menuIcon-clicked {
  box-shadow: 1px 1px 1px #89a5ba inset;
  border: 1px solid #b5c8d7;
  border-radius: 2px;
}

.cc-menuIcon-mobile:hover {
  cursor: pointer;
}

.cc-loginBtn, .cc-logoutBtn, .cc-dashboardShortcut {
  float: right;
  padding: 10px;
  font-size: 2rem;
}

.cc-loginBtn:hover, .cc-logoutBtn:hover, .cc-dashboardShortcut:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 992px) {
  .cc-logo {
    font-size: 2.5rem;
  }
 .cc-loginBtn, .cc-logoutBtn, .cc-dashboardShortcut {
    font-size: 1.8rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .cc-menuIcon-mobile {
    display: block;
  }
  .cc-logoutBtn {
    display: none;
  }
}

