body {
  font-family: 'Quicksand', sans-serif;
  color: #3c5a71;
}

a {
  color: inherit;
  text-decoration: none !important;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  color: inherit;
  outline: none;
}
a:link, a:visited {
  text-decoration: none;
  outline: none;
  border-style: none;
}

button.cc-buttonReset {
  background: none;
  border: none;
}

button.cc-buttonReset:focus {
  outline: none;
}

.cc-navbar {
  border-bottom: 1px solid #F0F0F0;
}

.cc-logo {
  font-family: 'Pacifico', cursive;
  display: inline-block;
  margin: 20px 5px;
  font-size: 3.3rem;
}

.cc-logo:hover {
  cursor: pointer;
}

.cc-loadingIcon {
  margin: auto;
  text-align: center;
}

.cc-loginBtn, .cc-logoutBtn, .cc-dashboardShortcut {
  float: right;
  padding: 10px;
  font-size: 2rem;
}

.cc-loginBtn:hover, .cc-logoutBtn:hover, .cc-dashboardShortcut:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .cc-logo {
    font-size: 2.5rem;
  }
 .cc-loginBtn, .cc-logoutBtn, .cc-dashboardShortcut {
    font-size: 1.8rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .cc-logoutBtn {
    display: none;
  }
}

/*Sweet alert styles*/
.swal2-input:not([type="file"]) {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 85%;
  min-width: 1px;
  margin-left: 0;
}

.swal2-input:focus:not([type="file"]) {
  border: 1px solid #d7d7d7;
  box-shadow: none;
}

.swal2-modal .cc-copyBtn {
  color: #3FC3EE;
  position: relative;
  left: 43%;
  top: 50px;
}

.swal2-modal .cc-copyBtn:hover {
  cursor: pointer;
}

@media (max-width: 540px) {
  .swal2-input:not([type="file"]) {
    margin: 20px 0px;
    width: 75%;
  }
  .swal2-modal {
    width: 250px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
