.cc-dashboardPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  width: 100%;
  /*navbar is 90px*/
  height: calc(100% - 90px);
}

.cc-dashboard-mobileUnavailable {
  padding: 20px;
  font-size: 7pt;
  text-align: center;
  display: none;
}

.cc-dashboard-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  position: relative;
  top: -1px;
}

.cc-dashboard-subNav {
  border-bottom: 1px solid #F0f0f0;
  width: 100%;
  padding-left: 10px;
  padding-right: 35px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.cc-dashboard-subNav-viewText, .cc-dashboard-subNav-actionText {
  font-size: 12pt;
  font-weight: 400;
  display: inline-block;
  padding: 5px 15px;
}

.cc-dashboard-subNav-viewText:hover, .cc-dashboard-subNav-actionText:hover {
  cursor: pointer;
}

.cc-dashboard-subNav-actionText {
  font-size: 11pt;
  padding: 5px 5px;
}

 .cc-dashboard-subNav-icon {
  height: 20px;
  padding-left: 40px;
 }

.cc-dashboard-subNav-viewText.v-link-active {
  color: #4EC1FF;
}

@media (max-width: 992px) {
  .cc-dashboardPage {
    height: calc(100% - 77px);
  }
  .cc-greyedSurveyForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    opacity: 0.5;
    background-color: #737373;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    /*on top of survey form*/
    z-index: 1;
  }
  .cc-dashboard-main, .cc-rightPanel, .cc-dashboard-subNav, .cc-leftPanel {
    display: none;
  }
  .cc-dashboard-mobileUnavailable {
    display: block;
  }
}
