.cc-leftPanel-mobile-hide, .cc-leftPanel-mobile-show {
  border-right: 1px solid #F0F0F0;
  width: 25%;
  padding-top: 30px;
  -webkit-flex: 1;
  flex: 1;
  min-height: 100%;
}

.cc-userIcon-leftPanel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0px auto 18px auto;
}

.cc-userEmail-leftPanel {
  color: #545454;
  text-align: center;
  margin: 10px;
  font-size: 10pt;
}

.cc-leftPanel-seperatingLine {
  width: 50%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.cc-newSurveyBtn {
  width: 70%;
  min-width: 180px;
  background-color: #EFF6FF;
  border-radius: 30px;
  padding: 12px 0px;
  margin: auto;
  border: none;
  display: block;
  margin-top: 30px;
  color: #545454;
  font-size: 12pt;
}

.cc-leftPanel-surveyList {
  width: 100%;
  height: 245px;
  margin-top: 40px;
  border-top: 3px solid #F0F0F0;
  overflow-y: auto;
}

.cc-leftPanel-survey, .cc-leftPanel-survey-selected {
  width: 100%;
  border-bottom: 3px solid #F0F0F0;
  height: 80px;
  line-height: 75px;
  padding-left: 85px;
  font-size: 14pt;
  color: #545454;
}

.cc-leftPanel-survey-selected {
  background-color: #F9F9F9;
}

.cc-leftPanel-survey:hover, .cc-leftPanel-survey-selected:hover {
  cursor: pointer;
}

.cc-logout-leftPanel {
  text-align: center;
  display: none;
}

.cc-logout-leftPanel:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .cc-logout-leftPanel {
    display: block;
  }
  .cc-leftPanel-mobile-hide {
    transition: left .3s ease;
    position: absolute;
    left: calc(-100% - 15px);
    z-index: 2;
    background-color: #fff;
  }
  .cc-leftPanel-mobile-show {
    transition: left .3s ease;
    position: absolute;
    width: 83%;
    left: 0px;
    /*on top of greyed out survey form (z-index=1) */
    z-index: 2;
    background-color: #fff;
  }
  .cc-leftPanel-seperatingLine {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .cc-leftPanel-surveyBtn, .cc-leftPanel-responsesBtn, .cc-leftPanel-surveyBtn-selected, .cc-leftPanel-responsesBtn-selected {
    width: 80%;
  }
}
