.cc-leftPanel-mobile-hide, .cc-leftPanel-mobile-show {
  border-right: 1px solid #F0F0F0;
  width: 25%;
  padding-top: 30px;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.cc-userIcon-leftPanel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0px auto 18px auto;
}

.cc-userEmail-leftPanel {
  color: #545454;
  text-align: center;
  margin: 10px;
  font-size: 10pt;
}

.cc-leftPanel-seperatingLine {
  width: 50%;
  margin-top: 60px;
  margin-bottom: 30px;
}

button.cc-newSurveyBtn {
  width: 70%;
  min-width: 180px;
  background-color: #EFF6FF;
  border-radius: 30px;
  margin: 30px auto 0px auto;
  height: 60px;
  border: none;
  outline: none;
  color: #545454;
  font-size: 12pt;
}

.cc-leftPanel-surveyList {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  border-top: 3px solid #F0F0F0;
  border-bottom: 3px solid #F0F0F0;
  overflow-y: auto;
}

.cc-leftPanel-survey {
  width: 100%;
  border-bottom: 3px solid #F0F0F0;
  height: 80px;
  line-height: 75px;
  padding-left: 85px;
  font-size: 14pt;
  color: #545454;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cc-leftPanel-surveyList .v-link-active {
  background-color: #F9F9F9;
}

.cc-leftPanel-survey:hover {
  cursor: pointer;
}

.cc-logout-leftPanel {
  text-align: center;
  display: none;
}

.cc-logout-leftPanel:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .cc-logout-leftPanel {
    display: block;
  }
  .cc-leftPanel-mobile-hide {
    transition: left .3s ease;
    position: absolute;
    left: calc(-100% - 15px);
    z-index: 2;
    background-color: #fff;
  }
  .cc-leftPanel-mobile-show {
    transition: left .3s ease;
    position: absolute;
    width: 83%;
    left: 0px;
    /*on top of greyed out survey form (z-index=1) */
    z-index: 2;
    background-color: #fff;
  }
  .cc-leftPanel-seperatingLine {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .cc-leftPanel-mobile-hide, .cc-leftPanel-mobile-show {
    padding-top: 18px;
  }
  .cc-userIcon-leftPanel {
    height: 50px;
    width: auto;
    margin: 0px auto 10px auto;
  }
  .cc-userEmail-leftPanel {
    margin: 8px;
    font-size: 8pt;
  }
  button.cc-newSurveyBtn {
    margin-top: 10px;
  }
  .cc-leftPanel-surveyList {
    margin-top: 20px;
  }
  .cc-leftPanel-survey {
    height: 65px;
    line-height: 65px;
  }
}
