.cc-responsesPage {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.cc-responsesPage-block {
  width: 50%;
  height: 50%;
  border: 1px solid #a4a4a4;
  position: relative;
  overflow: hidden;
}

.cc-responsesPage-errorNotice {
  padding: 60px 30px;
  font-size: 16pt;
  text-align: center;
  color: #B2B2B2;
}

.cc-responsesPage-question {
  font-size: 2rem;
  display: inline-block;
  text-align: center;
}

.cc-responsesPage-questionBox {
  padding: 20px 0px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.cc-responsesPage-chart {
  transform: scale(1.01);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.cc-responsesPage-response {
  font-size: 1.5rem;
  padding-left: 40px;
}
