.cc-surveyFormPage-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.cc-surveyFormPage {
  padding: 10px 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.cc-titleInputRow {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
}

.cc-titleInput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  border-radius: 0px;
  margin: 20px 10px 20px 20px;
  font-size: 2.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0px !important;
}

input.cc-titleInput:focus {
  outline: none;
  border-color: #3c5a71;
}

.cc-titleInput-error, input.cc-titleInput-error:focus {
  border: 1px solid rgb(234, 32, 28);
  border-radius: 20px;
  padding-left: 8px;
}

.cc-questionBlock-container {
  display: flex;
  flex-shrink: 0;
  padding: 14px 0px;
}

.cc-questionBlock-dragIcon {
  position: relative;
  top: 3px;
  margin: 13px 4px;
  height: 17px;
  width: 10px;
  display: inline-block;
}

.cc-questionBlock-dragIcon:hover {
  cursor: move;
}

.cc-questionBlock, .cc-questionBlock-selected {
  display: inline-block;
  margin: 4px 8px;
  border-radius: 25px;
  border: 3px solid transparent;
}

.cc-questionBlock-selected {
  border: 3px solid #4EC1FF;
}

.cc-questionBlock-top, .cc-questionBlock-topOnly, .cc-questionBlock-bottom {
  padding: 10px 22px;
  flex: 1;
  text-align: left;
  min-height: 40px;
}

.cc-questionBlock-top, .cc-questionBlock-topOnly {
  background-color: #3c5a71;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3c5a71;
}

.cc-questionBlock-topOnly {
  border-radius: 20px;
}

.cc-questionBlock-bottom {
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #A4A4A4;
  border-top-color: #fff;
}

.cc-submitSurveyFormBtn, .cc-addQuestionInputBtn, .cc-surveyForm-getLinkBtn {
  border-radius: 20px;
  color: #fff;
  background-color: #9DE934;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 6px 15px;
  margin: 5px auto 22px auto;
}

.cc-addQuestionInputBtn {
  background-color: #93DFFF;
}

.cc-surveyForm-getLinkBtn {
  background-color: #4EC1FF;
}

.cc-addQuestionInputBtn {
  display: none;
  margin: 35px 7% 5px 16%;
}

.cc-submitSurveyFormBtn:hover, .cc-addQuestionInputBtn:hover, .cc-surveyForm-getLinkBtn:hover {
  cursor: pointer;
}

.cc-deleteQuestionIcon, .cc-deleteQuestionIcon-hide {
  visibility: hidden;
  font-size: 2.5rem;
  margin: auto 0px;
  padding-bottom: 5px;
  color: #8E8E8E;
}

.cc-questionInputRow:hover .cc-deleteQuestionIcon {
  visibility: visible;
}

.cc-deleteQuestionIcon:hover {
  cursor: pointer;
}
